<div class="row footer">
    <div class="col-md-6">
        {{!-- <h1>{{{objects}}}</h1> --}}
        {{!-- <img alt="" class="navbar-brand logo" src="img/svg/footer-logo-with-tagline.svg"> --}}
        <a href="#">
        </a>
        
    </div>
    <div class="col-md-6">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href=""></a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 socials-row">
        <div class="row">
            <h5 style="font-family: Eurostile-Hea;">Follow us</h5>
        </div>
        <div class="row">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 47"><path d="M43.287.273H3.7A3.39 3.39 0 00.272 3.62v39.755a3.392 3.392 0 003.429 3.352h39.586a3.402 3.402 0 003.44-3.352V3.62a3.4 3.4 0 00-3.44-3.347zM14.049 39.859H7.156v-22.17h6.893zm-3.446-25.2a3.996 3.996 0 113.993-3.996 3.995 3.995 0 01-3.993 3.996zm29.252 25.2h-6.882V29.078c0-2.571-.05-5.878-3.58-5.878-3.587 0-4.134 2.8-4.134 5.691V39.86h-6.888v-22.17h6.611v3.028h.093a7.247 7.247 0 016.52-3.58c6.972 0 8.26 4.59 8.26 10.562z" fill="#fff"/></svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 47"><path d="M57.526 6.525a23.318 23.318 0 01-6.7 1.837 11.703 11.703 0 005.13-6.454 23.326 23.326 0 01-7.409 2.83 11.678 11.678 0 00-19.879 10.643A33.127 33.127 0 014.622 3.19a11.678 11.678 0 003.611 15.575 11.63 11.63 0 01-5.284-1.458l-.001.145a11.672 11.672 0 009.358 11.439 11.668 11.668 0 01-5.27.2 11.68 11.68 0 0010.9 8.1 23.398 23.398 0 01-14.49 4.995 23.653 23.653 0 01-2.782-.162 33.008 33.008 0 0017.882 5.24c21.459 0 33.193-17.775 33.193-33.19 0-.508-.012-1.009-.035-1.511a23.689 23.689 0 005.822-6.039z" fill="#fff"/></svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 47"><path d="M44.235.192H2.765A2.572 2.572 0 00.193 2.764v41.471a2.573 2.573 0 002.572 2.573h22.327V28.756h-6.075V21.72h6.075v-5.19c0-6.02 3.676-9.297 9.047-9.297a49.744 49.744 0 015.429.276v6.291l-3.725.003c-2.921 0-3.487 1.388-3.487 3.424v4.493h6.967l-.907 7.035h-6.06v18.052h11.879a2.573 2.573 0 002.572-2.573V2.764A2.572 2.572 0 0044.235.192z" fill="#fff"/></svg>
            </a>
        </div>
        <div class="row">
            <h5>© 2020 Escaping Gravity Ltd</h5>
        </div>
    </div>
</div>


