<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="logo" href="#">
    </a>
    <div class="nav-btns">
        <button class="navbar-toggler">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.872 46"><path d="M.184.371V45.63h64.428V.37zm54.485 4.832L32.861 20.81 10.331 5.203zM5.016 40.797V7.4l27.89 19.319L59.78 7.487v33.31z" fill="#fff"/></svg>
        </button> 
        <button id="navToggleBtn" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 46"><path fill="#fff" d="M.42.357h55.126v4.916H.42zM.42 20.499h55.126v4.916H.42zM.42 40.641h29.689v4.916H.42z"/></svg>
        </button>
    </div>
    <div id="navbarToggle" class="navbar-collapse d-none">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Title</a>
            </li>
        </ul>
        <a href="#" class="medium-btn">
            <div class="btn-text">
                Title
            </div>
        </a>

    </div>
</nav>